// main: main.styl

full_blood = "https://developer.donorsearch.org/design_elements/dropplets/full_blood.svg"
eritocites = "https://developer.donorsearch.org/design_elements/dropplets/eritocites.svg"
granulocites = "https://developer.donorsearch.org/design_elements/dropplets/granulocites.svg"
liekocites = "https://developer.donorsearch.org/design_elements/dropplets/liekocites.svg"
in_review = "https://developer.donorsearch.org/design_elements/dropplets/in_review.svg"
plazma = "https://developer.donorsearch.org/design_elements/dropplets/plazma.svg"
trombocites = "https://developer.donorsearch.org/design_elements/dropplets/trombocites.svg"

blood-icon(icon)
    background: url(icon) no-repeat 50% / contain
