// out: ../main.css, compress: false

@import "colors.styl"
@import "icons.styl"

icon = "https://developer.donorsearch.org/dropplet.svg"

html
    height: 100%

body
    height: 100%
    margin: 0px
    padding: 0px

.header-logo
    display: inline-block
    margin-left: 0
    margin-top: 10px
    margin-bottom: 10px
    margin-right: 5px
    vertical-align: top
    width: 1.5em
    height: calc(100% - 20px)
    background: url(icon) no-repeat 50% / contain
    box-sizing: border-box;

.bg-entrance
    height: 180px
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    background-image: linear-gradient(to left, rgba(255,255,255,0) 45%, rgba(255,255,255,.6)), url(../img/bg-entrance.webp)

.Button--lvl-primary
    background-color: red-color !important

.Input-underline::before, .Select-underline::before, .Textarea-underline::before
    background: red-color !important

.HeaderButton--android .Icon--24,
.TabbarItem--selected
    color: red-color !important

.TabbarItem__label
    background: blue-color !important
