html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.header-logo {
  display: inline-block;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  vertical-align: top;
  width: 1.5em;
  height: calc(100% - 20px);
  background: url("https://developer.donorsearch.org/dropplet.svg") no-repeat 50%/contain;
  box-sizing: border-box;
}
.bg-entrance {
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(to left, rgba(255,255,255,0) 45%, rgba(255,255,255,0.6)), url("../img/bg-entrance.webp");
}
.Button--lvl-primary {
  background-color: #cf3a42 !important;
}
.Input-underline::before,
.Select-underline::before,
.Textarea-underline::before {
  background: #cf3a42 !important;
}
.HeaderButton--android .Icon--24,
.TabbarItem--selected {
  color: #cf3a42 !important;
}
.HeaderButton--android .Icon--24 {
  padding: 0 !important;
}
.TabbarItem__label {
  background: #3d70c1 !important;
}
.imdonor-image {
  width: 141px;
  height: 128px;
  margin: 0 auto;
  display: block;
  background: url("https://donorsearch.org/assets/index/want-to-2.341a4376-46eeadff198aa2076558355fb29cc069675e198f35ff8e205fd024e6f14a7b93.svg") no-repeat 50%/contain;
}
.iwdonor-image {
  width: 141px;
  height: 128px;
  margin: 0 auto;
  display: block;
  background: url("https://donorsearch.org/assets/index/want-to-1.6197ed02-e62ea6d9fd7e0c38d88f67b50002ada7404278c91371e2b3bcd15a2d58e133f7.svg") no-repeat 50%/contain;
}
